body { background: #e36169; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 55px; display: flex; }
.block-router-0 { color: #21c038; font-size: 13px; margin-bottom: 5px; }
.block-database-1 { color: #147156; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #3533b1; font-size: 21px; margin-bottom: 5px; }
.block-email-3 { color: #def47e; font-size: 15px; margin-bottom: 5px; }
.block-validator-4 { color: #cbc6db; font-size: 20px; margin-bottom: 5px; }